__pycache__/
*.pyc
*/migrations/*.py
*/migrations/*.pyc
.idea/

# __pycache__
DjangoSite/__pycache__/*.pyc
DjangoSite/DjangoSite/__pycache__/*.pyc

DjangoSite/foliumApp/__pycache__/*.pyc
DjangoSite/foliumApp/Views/__pycache__/*.pyc

DjangoSite/mapnikApp/__pycache__/*.pyc

Scripts/DataProcessing/__pycache__/*.pyc
Scripts/DataProcessing/Tests/__pycache__/*.pyc

Scripts/Algorithms/__pycache__/*.pyc
Scripts/Algorithms/Tests/__pycache__/*.pyc

Scripts/DB/__pycache__/*.pyc
Scripts/DB/Tests/__pycache__/*.pyc

# migrations
DjangoSite/foliumApp/migrations/
DjangoSite/mapnikApp/migrations/

# html file
DjangoSite/foliumApp/static/mapIndex.html
DjangoSite/foliumApp/static/mapResults.html

#ipynb checkpoints
Scripts/JupyterNotebooks/.ipynb_checkpoints/

# config files
Scripts/DB/Config/SSHConfig.xml
Scripts/DB/Config/DBConfig.xml

# Data files
Scripts/Data/Other/amtgrids.csv
Scripts/Data/Other/cp_coast_la.csv
Scripts/Data/Other/nwp_data.csv

