__pycache__/
*.pyc
*/migrations/*.py
*/migrations/*.pyc
.idea/

# __pycache__
DjangoSite/DjangoSite/__pycache__/*.pyc
DjangoSite/foliumApp/__pycache__/*.pyc
DjangoSite/mapnikApp/__pycache__/*.pyc
Scripts/DataProcessing/__pycache__/*.pyc
Scripts/Algorithms/__pycache__/*.pyc

# migrations
DjangoSite/foliumApp/migrations/
DjangoSite/mapnikApp/migrations/

# html file
DjangoSite/foliumApp/static/index.html
