<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MARIN_VTool</title>
    <style>
        {% include "CSS/sidebar.css" %}
        {% include "CSS/index.css" %}
    </style>
</head>
<body>

<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <nav>
        <ul>
            <li>
            <a>Select Vessel</a>
                <ul class="dropdown">
                    {% for item in vesselList %}
                    <li><a href="{{ item }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            <a href='{% url 'about' %}'>About</a>
            </li>
        </ul>
    </nav>
</div>

<div id="main">
    <button class="openbtn" onclick="openNav()">☰ MARIN_VTool</button>

    <iframe id="iframe" src='{% url 'maps' %}' scrolling="no"></iframe>
</div>

<script>
    {% include "JS/sidebar.js" %}
</script>
</body>
</html>